[user]
	name = Nate Roy
	email = nateroy@scvngr.com
[core]
	editor = vim
	excludesfile = /Users/nate/.gitignore_global
[color]
	ui = auto
[merge]
	tool = diffmerge
[diff]
	tool = diffmerge
[show]
  tool = less -N
[alias]
  c = commit
  co = checkout
  s = status
  r = rebase
  m = merge
  l = log
  p = push origin
  up = !git fetch && git remote prune origin
  prune = remote prune origin
  re = reset --hard HEAD
  f = fetch
  d = diff
  ds = diff --staged --color-words
  b = branch
  ba = branch -a
  lp = !git log --format=format:"%s"  
  files = show --pretty="format:" --name-only
  su = submodule update
  si = submodule init
  res = reset
